<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kongfu.backend.dao.CategoryMapper">

    <sql id="selectFields">
        id,`name`, `order`,code,parent_id,status, path,create_time, last_update_time
    </sql>

    <sql id="insertFields">
        `name`, `order`,code,parent_id, path, status, create_time, last_update_time
    </sql>

    <!--根据分类名称查询分类详情-->
    <select id="selectCategory" resultType="Category">
        select
        <include refid="selectFields"></include>
        from ts_category where name = #{name} and `status`= 1
    </select>

    <!--根据分类名称查询分类详情-->
    <select id="selectCategoryById" resultType="Category">
        select
        <include refid="selectFields"></include>
        from ts_category where id = #{id} and `status`= 1
    </select>
    <!--查找所有父分类-->
    <select id="selectCategoryList" resultType="Category">
        SELECT
        A.*,
        B.count
        FROM
        ts_category A
        LEFT JOIN ( SELECT
        ts_article.category_id,
        count( ts_article.category_id ) AS count
        FROM
        ts_article
        GROUP BY
        ts_article.category_id
        ) B ON A.id = B.category_id
        WHERE
        A.`status` = 1
        ORDER BY
        A.`order`
    </select>

    <!--根据父分类查找子分类-->
    <select id="selectChildrenCategories" resultType="Category">
        SELECT
        <include refid="selectFields"></include>
        FROM ts_category WHERE parent_id =
        (SELECT id FROM ts_category WHERE NAME = #{category})
        AND `status` = 1
        ORDER BY `order`
    </select>
    <!--根据父分类查找子分类-->
    <select id="selectSiblingCategories" resultType="Category">
        select
        <include refid="selectFields"></include>
        from ts_category where parent_id =
        (SELECT parent_id from ts_category where name = #{category})
        order by `order`
    </select>
    <!--新增分类-->
    <insert id="insertCategory" parameterType="Category" keyProperty="id">
        insert into ts_category (<include refid="insertFields"></include>)
        values(#{name}, #{order}, #{code}, #{parentId}, #{path}, 1, #{createTime}, #{lastUpdateTime})
    </insert>
    <!--修改分类-->
    <update id="updateCategory" parameterType="Category">
        update ts_category
        <set>
            <if test="parentId != null">
                parent_id = #{parentId},
            </if>
            <if test="name != null">
                `name` = #{name},
            </if>
            <if test="order != null">
                `order` = #{order},
            </if>
            <if test="path != null">
                path = #{path},
            </if>
            <if test="code != null">
                code = #{code},
            </if>
            <if test="status != null">
                status = #{status},
            </if>
            last_update_time = #{lastUpdateTime}
        </set>
        where id = #{id}
    </update>


</mapper>