<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kongfu.frontend.dao.CategoryMapper">

    <sql id="selectFields">
        id,`name`, `order`, `count`,parent_id,status, create_time, last_update_time
    </sql>

    <!--查找分类-->
    <select id="selectCategory" resultType="Category">
        select
        category.*, count
        from ts_category category left join
        (SELECT article.category_id,count(*) as `count` FROM ts_article article where article.`status` = 1 GROUP BY
        article.category_id )as A
        on category.id = A.category_id
        left join ts_setting setting on category.create_user = setting.create_user
        where category.`status` = 1
        and setting.status = 1
        and setting.routing = #{router}
    </select>
    <!--查找分类总数-->
    <select id="selectCategoryCount" resultType="java.lang.Integer">
        select count(*) from ts_category category
        left join ts_setting setting on category.create_user = setting.create_user
        where category.`status` = 1
        and setting.`status` = 1
        and setting.routing = #{router}
    </select>
</mapper>